/********************************/
/*                              */
/*        BEC3 CSS STYLE        */
/*                              */
/********************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans|Roboto|Lato|Roboto+Condensed|Raleway|Montserrat|Open+Sans+Condensed:300|Poiret+One|Droid+Sans:400,700|Muli|PT+Sans);

/**************/
/*   TITLES   */
/**************/
 
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
	font-family: 'Raleway', sans-serif;
}

p, .lead {
	font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #212E64;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #212E64;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #212E64;
  font-weight: 700;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  color: #212E64;
  font-weight: 400;
}

.lead.description{
	padding: 1em;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #212E64;
  font-weight: 400;
}

/***************/
/*  UTILITIES  */
/***************/


a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #212E64;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::selection {
	background: #FFC11C; /* Safari */
	color: #212E64;
}
::-moz-selection {
	background: #FFC11C; /* Firefox */
	color: #212E64;
}


/*************/
/*  BUTTONS  */
/*************/

.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.btn-lg {
  font-size: 13px;
  line-height: 1.33;
  padding: 22px 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  background-color:#212E64;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #FFC11C;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-bg-black:hover, .btn-bg-black:focus, .btn-bg-black:active, .btn-bg-black.active {
  background-color: #212E64;
  color: #FFC11C;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-secondary {
  background-color: #f2f2f2;
  color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


/*************/
/*  MARGINS  */
/*************/

.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/************/
/*  COLORS  */
/************/

.black {
  color: #212E64;
}
.white {
  color: #ffffff;
}

.black-bg {
  background: #212E64;
}

.white-bg {
  background: #ffffff;
}


/****************/
/*  MAIN STYLE  */
/****************/
   
header {
  background-color: #ffffff;
  border-top: 10px solid #FFC11C;
  width: 100%;
  padding: 0px 0px 60px 0px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header.menu-open{
	height: 250vh;
}

header.page{
	height: auto;
	padding: 0px 0px 0px 0px;
}

header .container {
	margin: 0;
	padding: 0;
	width: 100%;
}

header .container .menu {
	margin: 0 auto;
	padding: 1.5em 2em;
	background: #212E64;
}

header .container .menu a{
	color: #fff;
}

header .container .menu ul#main-menu-index{
	padding: 0;
	list-style-type: none;
}

header .container .menu ul#main-menu-index li{
	display: inline-block;
}

header .container .menu a:after {
	content:"\00a0\00a0\00a0\00a0";
}

.header-info {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 11vh auto;
}

.header-info h1{
  font-size: 13vh;
  line-height: 13vh;
}

.header-info p.lead{
  font-size: 5vh;
  line-height: 5vh;
}

@media screen and (max-width: 780px){
	.header-info h1{
	  font-size: 8vh;
	  line-height: 8vh;
	}
	.header-info p.lead{
	  font-size: 4vh;
	  line-height: 4vh;
	}
}

@media screen and (max-height: 450px){
	.header-info {
	  margin: 2vh auto;
	}
}

@media screen and (max-height: 330px){
	.header-info {
	  margin: 0 auto;
	}
	.header-info h1{
	  font-size: 7vh;
	  line-height: 7vh;
	}
	.header-info p.lead{
	  font-size: 3vh;
	  line-height: 3vh;
	}
}

.navbar-nav{
	float: right;
}

.navbar-nav .nav-menu{
	padding: 0.3em;
}

.nav-icon{
	padding: 0.3em 1.5em;
	float: right;
	display: none;
}

@media screen and (max-width: 900px){
	.nav-icon{
		display: block;
	}
	.navbar-nav .nav-menu{
		display: none;
	}
	.navbar-nav.open{
		float: none;
	}
	
	.navbar-nav.open .nav-menu{
		display: block;
		margin: 5em auto;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: scroll;
	}
	
	.navbar-nav.open .nav-menu a{
		display: block;
		padding: 1em 0;
		text-align: center;
	}
	.col-xs-3{
		width: auto;
	}
}


.signin {
  padding-top: 9px;
}

#primary #main .page-content{
	padding: 2em;
	border-bottom: 3em solid #FFC11C;
}

#primary #main .page-content .links-return{
	margin: 3em auto;
}

#primary #main .page-content .links-return a.link-return{
    text-align: center;
    padding: 1em;
    color: #FFF;
    background: #212E64
}

@media screen and (max-width: 900px){
	#primary #main .page-content{
		padding: 1em;
	}
}

#primary #main .page-content h1, #primary #main .page-content h2, #primary #main .page-content h3, #primary #main .page-content h4, #primary #main .page-content h5, #primary #main .page-content h6 {
	margin: 1em auto;
}

#primary #main .page-content h1, #primary #main .page-content h2, #primary #main .page-content h3, #primary #main .page-content h4, #primary #main .page-content h5, #primary #main .page-content h6 {
	margin: 1em auto;
}

#primary #main h1.header-news-title{
	color: #ffffff;
    text-align: center;
    background: #212E64;
    padding: 1em;
    margin: 0;
}

#primary #main .all-categories{
	text-align: center;
    margin: 3em auto 2em;
}

#primary #main .all-categories a {
    padding: 0 2em;
    text-transform: uppercase;
    color: #555555;
    font-weight: 800;
}

#primary #main .all-news{
	padding: 1em;
	margin: auto;
}

#primary #main .all-news .no-post{
	text-align: center;
	font-size: 2em;
	font-weight: 800;
	margin: 2em auto 10em auto;
}

#primary #main .all-news .news{
	padding: 1em;
	width: auto;
	margin: 1em auto;
	background: #f7f7f7;
}

#primary #main .all-news .news .cat{
    border-bottom: 2px solid #555;
    color: #555;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
}

#primary #main .all-news .news .read-more{
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2em;
}

#primary #main .all-news .news .read-more a{
    border-bottom: 2px solid #555;
}

#primary #main .all-news .news .time{
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    font-size: 0.9em;
}

#primary #main .all-news .news .time:before {
	content:url('../img/post/date-post.svg');
}


#primary #main .post-content{
	background: #f7f7f7;
}

#primary #main .post-content h1.header-post-title{
	color: #ffffff;
    text-align: center;
    background: #212E64;
    padding: 1em;
    margin: 0;
}

#primary #main .post-content .content{
    padding: 1em;
}

#primary #main .post-content .post-info{
	padding: 1em;
    text-align: center;
    background: #FFC11C;
    margin: 0 auto 1em auto;
}


#primary #main .post-content .post-info .cat{
	text-transform: uppercase;
}

#primary #main .post-content .post-info .cat:before {
	content:url('../img/post/cat-post.svg');
	padding-right: 0.6em;
}

#primary #main .post-content .post-info .time:before {
	content:url('../img/post/date-post.svg');
	padding-right: 0.6em;
}

#primary #main .post-content .post-info .author:before {
	content:url('../img/post/user-post.svg');
	padding-right: 0.6em;
}


#primary #main .post-content #comments{
	background: #212E64;
	padding: 1em;
	margin: 1em auto;
	text-align: center;
}

#primary #main .post-content #comments comments-title{
	display: none;
}


#primary #main .post-content #comments a:hover{
	color: #fff;
}

#primary #main .post-content #comments h3#reply-title{
	color: #fff;
}

#primary #main .post-content #comments form p{
	color: #fff;
}

#primary #main .post-content #comments form p.form-submit{
	color: #212E64;
}

#primary #main .post-content #comments form p.comment-form-comment label{
	display: none;
}

#primary #main .post-content #comments form p.comment-form-comment textarea{
	display: block;
	width: 50%;
	margin: auto;
	color: #212E64;
    padding: 1em;
}

#primary #main .post-content #comments ol{
	list-style: none;
    text-align: left;
    margin: 0.2em auto;
}

#primary #main .post-content #comments ol li{
    margin: 0.2em auto;
}

#primary #main .post-content #comments ol article{
	color: #212E64;
    border-left: 1em solid #FFC11C;
    background: #FFF;
    padding: 0.5em;
    margin: 0.5em auto;
}

#primary #main .post-content #comments ol article footer{
	background: none;
	padding: 0;
}

#primary #main .post-content #comments ol article footer .comment-author{
	border-bottom: 2px solid;
    padding: 0.2em;
}

#primary #main .post-content #comments ol article footer .comment-metadata{
	text-align: right;
}

#primary #main .post-content #comments ol article footer .comment-metadata time{
	font-style: italic;
}

/* Pagination */

#primary #main .custom-pagination{
	text-align: center;
	font-size: 1.2em;
	margin: 2em auto;
}

#primary #main .custom-pagination span, #primary #main .custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}

#primary #main .custom-pagination a {
  background-color: #ebebeb;
  color: #212E64;
}

#primary #main .custom-pagination a:hover {
  background-color: #212E64;
  color: #fff;
}

#primary #main .custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}

#primary #main .custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}

#primary #main .custom-pagination span.current {
  background-color: #212E64;
  color: #fff;
}

.mouse-icon {
    border: 2px solid #212E64;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
}
.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}
.mouse-icon .scroll {
    background: #212E64 none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}
@keyframes scrolling {
0% {
    opacity: 0;
    top: 5px;
}
30% {
    opacity: 1;
    top: 10px;
}
100% {
    opacity: 0;
    top: 25px;
}
}

.pad-xl {
	padding: 140px 0px 260px 0;
}

.pad-lg {
	padding: 120px 0px;
}

.pad-sm {
	padding: 80px 0px;
}

.pad-xs {
	padding: 30px 0px;
}



#bec-what {
  background: #212E64;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bec-what-cat .cats {
  text-align: justify;
}

hr.line {
	width: 100%;
	border: 2px solid #212E64;
}

.screen {
    position: relative;
    height: auto;
}

.screen img, .screen object, .screen svg{
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
}

.flow-wrapper{
	position: relative;
	margin: 0 auto !important;
	margin-top: -150px !important;
	width: 100% !important;
}

.flow-wrapper .center-wrapper{
	margin: 0 auto;
}

#Stage{
	background-color: #212E64 !important;
}

.edgeLoad-EDGE-1854784 { visibility:hidden; }

#Button{
	-webkit-transform: scale(1.3);
	-moz-transform:    scale(1.3);
	-o-transform:      scale(1.3);
	-ms-transform:     scale(1.3);
}

#contact {
  background: #f2f2f2;
}

#bec3-lib {
  background: #ffffff;
}

.browser-window {
    text-align: left;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: overlay;
}

.browser-window .top-bar{
    height: 30px;
    padding: 0 10px 0 0;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;
}

.browser-window .circles {
    margin: 10px 4px;
    height: 8px;
    width: 8px;
    float: right;
    display: inline-block;
    border-radius: 50%;
    background-color: #212E64;
}

pre {
  background-color: #212E64;
  overflow: auto;
  margin: 0;
  padding: 0 0 0 0;
  border: 0;
  border-radius: 0;
}

pre code, pre .line-number {
  font:normal normal 12px/14px "Courier New",Courier,Monospace;
  color: #ffffff;
  display:block;
  padding: 1em 0 1em 0;
}

pre .line-number {
  float:left;
  margin: 0 1em 0 0;
  border-right:1px solid;
  background: #EFEFEF;
  font-weight: 700;
  color : #212E64;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

pre code span.type, pre code span.function {
    color: #ffffff;
}

pre code span.function {
    font-weight: 700;
}

pre code span.comment{
    color: rgba(255,255,255,0.4);
}

pre code span.bec3{
    color: #FFC11C;
    font-weight: 700;
}


.news-container {
  padding: 10px 0px 20px;
  border-bottom: 1px dotted #d9d9d9;
}

.news-img {
  padding-right: 20px;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

footer .social{
	width: 50%;
	float: left;
	padding-left: 50px;
}

footer .social p{
	font-weight: 400;
}

footer .social a{
	height: 50px;
	width: 50px;
	display: inline-block;
}

footer .social a.facebook{
	background: url('../img/social/facebook.svg');
}

footer .social a.twitter{
	background: url('../img/social/twitter.svg');
}

footer .copyright{
	width: 50%;
	float: right;
	text-align: right;
	padding-right: 50px;
	padding-top: 15px;
}


/*---------------Pricing Tables-------------------*/


#learn {
  background: #FFC11C;
}

#learn .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


#learn .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

#learn .col p{
	text-align: center;
	color: rgba(0,0,0,0.5);
	font-size: 15px;
	font-weight: 700;
	padding-top: 10px;
}

#learn .col video{
	width: 100%;
	height: auto;
}

#learn .col img{
	width: 100%;
	height: auto;
}

#learn .col:nth-child(4n+1) {
	margin-left: 0;
	clear: both;
}

#learn .group:before,
#learn .group:after { content:""; display:table; }
#learn .group:after { clear:both;}
#learn .group { zoom:1; /* For IE 6/7 */ }

#learn .span_4_of_4 {
	width: 100%;
}
#learn .span_3_of_4 {
	width: 74.6%;
}
#learn .span_2_of_4 {
	width: 49.2%;
}
#learn .span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1{
	height: auto !important;
	width: 100%;
	margin: auto;
	padding: 1em;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1{
	width: 24% !important;
	max-width: 100% !important;
	margin: 10px 0.2% !important;
    position: relative !important;
    border: 0 !important;
    display: inline-block;
    transform: none !important;
    background: none !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .image-block_1{
	position: relative !important;
    width: 100% !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .image-block_1 img.imgGird{
	width: 100% !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .title-block_1 h3{
	text-align: center;
	color: #212E64 !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .title-block_1 h3.sizeGird{
	font-size: 15px !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .image-block_1 .videogallery-image-overlay.black_bg{
	background: #212E64 !important;
}

#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1 .image-block_1 .videogallery-image-overlay a {
	background: url('../img/zoom-light.svg') center center no-repeat !important;
}

@media (max-width: 960px) { 
	#huge_it_videogallery_content_1 #huge_it_videogallery_container_1 .videoelement_1{
		width: 49% !important;
	}
}



/***********/
/*  FORMS  */
/***********/

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}




/******************/
/*  MOBILE STYLE  */
/******************/


/* Landscape phones and down */
@media (max-width: 480px) { 

.btn-lg {
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}


.btn-wide {
  width: 100%;
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}

#bec-what { 
      background-attachment: scroll;
  }

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

#bec-what { 
      background-attachment: scroll;
  }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

#bec-what { 
      background-attachment: scroll;
  }
  
}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}
     


/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}